body {
  background-color: #05498c !important;
  align-items: center !important;
}
h1 {
  color: #fff !important;
  font-size: 55px !important;
  text-align: center;
}
h2, h3, p {
  color: #fff !important;
  font-family: Arial;
}
h3:hover {
  color: #ec6608 !important;
}
footer {
  width: 100%;
  height: auto;
  background-color: #102d69 !important;
}
label {
  color: #fff;
}
.carousel-indicators {
  listbox-style: red !important;
}
.navbar {
  background-color: #102d69 !important;
}
.navbar ul li a{
  color: #fff !important;
}
.navbar ul li a:hover, .navbar ul li.active a {
  color: #ec6608 !important;
}
.container {
  width: 100%;
  height: 500px;
  background-color: #ec6608;
  padding: 50px;
}
div.position, p.position {
  width: 500px;
  height: 300px;
  background-color: grey;
  position: absolute;
  top: 50px;
  right: 30px;
  font-size: 40px;
  color: #fff;
  text-align: left;
  padding-left: 20px;
}
.container2 {
  width: 75%;
  height: 300px;
  margin-top: 35px;
  background-color: #05498c !important;
}
.knopf {
  background-color: #fff;
  color: black;
  border-radius: 5px;
  float: right;
}
.knopf:hover {
  background-color: #ec6608;
  color: #fff;
}
.info2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.knopf {
  float: right;
  margin: 5px;
}
.knopf:hover {
  background-color: #ec6608;
  color: white;
}
#button:hover {
  background-color: #05498c;
}
#logo {
  width: 130px;
  height: 30px;
}
#image {
  width: 100%;
  height: 400px;
}
#image2 {
  width: 400px;
  height: 200px;
  padding-right: 35px;
  padding-left: 35px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
#alle {
  background-color: #05498c !important;
}
#info {
  width: 100%;
  height: auto;
  padding-right: 35px !important;
  padding-left: 35px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
#link {
  color: white;
}
#link:hover {
  color: #ec6608;
}
#imp p{
  margin-top: 25px;
}
#bildoben {
  font-size: 35px;
  color: #fff;
}
@media screen and (max-width: 780px) {
  .position {
      width: 0%;
      border: none;
      color: transparent;
    }
  }
